<!-- App Content -->
<div class="app-content">
  <div class="container-fluid">
    <!-- Row for Image Buttons -->
    <div class="row">
      
      <!-- Rutas Button -->
      <div class="col-md-6 d-flex justify-content-center">
        <a [routerLink]="'/rutas'" class="image-button">
          <div class="image-container">
            <img src="assets/img/Rutas.jpg" alt="Rutas" class="image-content">
            <span class="image-text">Rutas</span>
          </div>
        </a>
      </div>
      
      <!-- Reservas Button -->
      <div class="col-md-6 d-flex justify-content-center">
        <a [routerLink]="'/reservas'" class="image-button">
          <div class="image-container">
            <img src="assets/img/Lista.jpg" alt="Reservas" class="image-content">
            <span class="image-text">Reservas</span>
          </div>
        </a>
      </div>
      
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</div> <!-- End App Content -->

