<div class="container-fluid">
    <!-- Start navbar links -->
    <ul class="navbar-nav">
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <!-- Sidebar Brand -->
            <div class="sidebar-brand">
              <a href="http://localhost:4200/home" class="brand-text">
                <img src="assets/img/uniguajira.png" alt="Ruta U Logo" class="brand-image opacity-75 shadow">
                <span class="brand-text fw-light">Ruta U</span>
              </a>
            </div>
        </aside>

    </ul> <!--begin::End Navbar Links-->
        <ul class="navbar-nav ms-auto"> <!--begin::Navbar Search-->

            <!-- User Menu Dropdown -->
            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="bi bi-person-circle"></i>
                  <span class="d-none d-md-inline">{{userName}}</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-end text-center">
                  <!-- Perfil -->
                  <li>
                    <a [routerLink]="'/perfil'" class="dropdown-item">Perfil</a>
                  </li>
                  <!-- Cerrar sesión -->
                  <li>
                    <a (click)="logout()" class="dropdown-item">Cerrar sesión</a>
                  </li>
                </ul>
              </li>

        </ul> <!--end::End Navbar Links-->
    </div> <!--end::Container-->
